<div id="text" >
    <h2 >
    <p>
    list of countries infected with<span style="color:rgb(170, 24, 24)">Corona virus</span>in the WORLD
    </span>
    
    </p>
    </h2>
    <p id="updated" >
        Last updated: 2020/4/24, 6:00pm 
    </p>
</div> 